/* Estilos para contenido de inicio fondo oscuro y texto blanco */

.contenidoPInicio{
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 25px;
    background: rgba(181, 179, 179, 0.322);
}

/* texto Quispicanchi es una de las tierras mas queridas */
.ContenidoQuispicanchi{
    display: grid;
    height:auto;
    justify-items: start;
    color: black;
    width: 50%;
    justify-content: center;
    background: rgb(55, 56, 56);
    padding: 50px;
    border-radius: 10px;
}

.contenido{
    display: flex;
    height:auto;
    justify-items: center;
    color: black;
    width: 100%;
    justify-content: center;
}
.subTitulo{
    color:rgb(255, 255, 255);
    line-height: 100%;
    padding: 5px;
    text-align: center;
    font-family:Trebuchet MS;
}

.estiloTextoWhite{
    font-family: "Homer Simpson UI";
    color: rgb(255, 255, 255);
    line-height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    text-align: justify;
}
/* Fin Estilos para contenido de inicio fondo oscuro y texto blanco */
.estiloTextoBlack{
    font-family: "Homer Simpson UI";
    color: rgb(0, 0, 0);
    line-height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    text-align: justify;
}

.contenedorTexto{
    display: flex;
    height:auto;
    justify-items: center;
    color: black;
    width: 50%;
    
}

/* Contenedor Infomacion y foto del alcalde */
.contenedorAlcalde{
    height: auto;
    width: 100%;
    justify-content: center; 
    align-content: center;
    display: flex;
    padding: 30px;
    background: rgb(17, 22, 79);
    gap: 10px;
}
.contenedorImagenAlcalde{
    width: auto;
    height: 500px;
    border-radius: 10px;
}
.contenedorInformacionAlcalde{
    width: 30%;
    height: auto;
    padding: 10px;
}
.estiloTextoInfoAlcalde{
    font-family: "Homer Simpson UI";
    color: rgb(255, 255, 255);
    line-height: 100%;
    padding: 5px;
    text-align: center;
}

/* Contenedor de imagen plaza de armas y facebook */
.contenedorPlazayFB{
    height: 600px;
    width: 100%;
    justify-content: center; 
    align-content: center;
    display: flex;
    padding: 30px;
    background: transparent;
    gap: 10px;
}

.contenedorSliderEInfo{
    height: 100%;
    width: auto;
    display: flex;
    justify-content:space-around;
    margin: 4px;
}

.contenedorImagenPlaza{
    width:min-content;
    height: auto;
    border-radius: 10px;
}
.contenedorFacebook{
    width: 400px;
    height: 540px;
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    .contenido{
        justify-content: space-around;
    }
    .contenedorImagenAlcalde{
      display: none;
    }
    
    .contenedorInformacionAlcalde{
        width: 100%;
    }
    .ContenidoQuispicanchi{
        width: 100%;
    }
    .contenedorTexto{
        width: 100%;
        display: flex;
    }
    .contenedorPlazayFB{
        display: block;
    }
    .contenedorImagenPlaza{
        height: 40%;
    }
    
  } 