.contenedorMesaDePartes{
    height: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    color: black;
}
.contenedorImagen{
    height: 400px;
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderLogoMesa{
    border-radius: 10px;

}
